
.metadata
bin/
tmp/
ignore/
cpu/SyzygyB100.cache/*
cpu/SyzygyB100.hw/*
cpu/SyzygyB100.ip_user_files/*
cpu/SyzygyB100.runs/*
cpu/SyzygyB100.sim/*
cpu/SyzygyB100.srcs/sources_1/bd/*
cpu/SyzygyB100.xpr
prog/com/rath/umbra/grammar/*.java
prog/com/rath/umbra/grammar/org/
prog/com/rath/umbra/grammar/templates/
*.tmp
*.class
*.xpr
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*~

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
/bin1/
