
.metadata
bin/
tmp/
ignore/
src/SyzygyB100.cache/*
src/SyzygyB100.hw/*
src/SyzygyB100.ip_user_files/*
src/SyzygyB100.runs/*
src/SyzygyB100.sim/*
*.tmp
*.xpr
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*~

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
/bin1/
